annotated-types==0.5.0
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
GeoAlchemy2==0.10.2
geopandas==0.13.2
google==3.0.0
greenlet==2.0.2
idna==3.4
packaging==23.1
psycopg2-binary==2.9.6
pandas==2.0.3
polyline==2.0.0
protobuf==3.19.6
pydantic
pydantic_core
pyproj
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
schedule==1.2.0
shapely==2.0.1
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==1.4.42
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
cython
